/*
paleta
cor principal: #99b38f
botão ativo: #546D4A

*/
@font-face {
    font-family: 'AthachantrTrial-Regular';
    src: url('/font/AthachantrTrial-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: AthachantrTrial-Regular;
    background-color: #f9f9f9;
    color: white;
}

.filtros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: w;
}

.botoes-filtros{
    background-color: #99b38f;
    color: black;
    stroke: none;
    text-decoration: none;
    padding: 4px;
    font-size: 18px;
    font-family: AthachantrTrial-Regular;
    border: 0.1px solid black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.botoes-filtros.ativo {
    background-color: #546D4A; 
    font-weight: bold;
    color: white; 
}

.container-produtos{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.produto-itens:not(p){
  background-color: #99b38f;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.produto-itens img {
    width: 100%;
    border-radius: 8px;
}

.produto-itens h3 {
    margin: 10px 0;
  }
  
.produto-itens p {
    color: white;
    font-weight: bold;
}

